@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --color-Nutmeg: hsl(14, 45%, 36%);
    --color-Dark-Raspberry: hsl(332, 51%, 32%);
    --color-White: hsl(0, 0%, 100%);
    --color-Rose-White: hsl(330, 100%, 98%);
    --color-Eggshell: hsl(30, 54%, 90%);
    --color-Light-Grey: rgb(243, 229, 216);
    --color-Wenge-Brown: hsl(30, 10%, 34%);
    --color-Dark-Charcoal: hsl(24, 5%, 18%);
    --color-a: hsl(228, 45%, 44%);
    --radius: 25px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", "sans-serif";
    font-size: 16px;
    color: var(--color-Wenge-Brown);
    background-color: var(--color-Light-Grey);
    font-weight: 400;
    line-height: 30px;
}

h1,
h2 {
    font-family: "Young Serif", "sans-serif";
    font-weight: 700;
}

h1 {
    color: var(--color-Dark-Charcoal);
}

h2 {
    color: var(--color-Nutmeg);
}

a {
    color: var(--color-a);
    font-size: 11px;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

li {
    padding-left: 20px;
    margin-left: 15px;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    border: 1px solid var(--color-Eggshell);
}

p {
    margin-bottom: 20px;
}

.card {
    max-width: 650px;
    margin: 80px auto;
    padding: 40px;
    border-radius: var(--radius);
    background-color: var(--color-White);
}

.recipe {
    border-radius: var(--radius);
}

.preparation {
    background-color: var(--color-Rose-White);
    padding: 20px;
    border-radius: var(--radius);

    & li {
        list-style-type: inherit var(--color-Dark-Raspberry);
    }

    & ::marker {
        color: var(--color-Dark-Raspberry);
    }
}

.ingredients {
    & li {
        list-style-type: square;
    }

    & ::marker {
        color: var(--color-Nutmeg);
    }
}

.instructions {
    & li::marker {
        color: var(--color-Nutmeg);
        font-weight: 600;
    }
}

.brown {
    color: var(--color-Wenge-Brown);
    font-weight: 700;
}

.red {
    color: var(--color-Dark-Raspberry);
    font-weight: 700;
}

.grid {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.attribution {
    margin-bottom: 40px;
    font-size: 11px;
    text-align: center;
}

.my20 {
    margin-bottom: 20px;
}

@media screen and (min-device-width: 325px) and (max-device-width: 600px) {

    .card {
        border-radius: 0px;
        margin: 150px auto 0px auto;

        & img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .recipe {
        border-radius: 0px;
    }

    body {
        background-color: var(--color-White);
    }
}